@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Bold'), local('JetBrainsMono-Bold'),
      url('/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
      url('/fonts/JetBrainsMono-Bold.woff') format('woff'),
      url('/fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Extra Bold'), local('JetBrainsMono-ExtraBold'),
      url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
      url('/fonts/JetBrainsMono-ExtraBold.woff') format('woff'),
      url('/fonts/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Medium'), local('JetBrainsMono-Medium'),
      url('/fonts/JetBrainsMono-Medium.woff2') format('woff2'),
      url('/fonts/JetBrainsMono-Medium.woff') format('woff'),
      url('/fonts/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Regular'), local('JetBrainsMono-Regular'),
      url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
      url('/fonts/JetBrainsMono-Regular.woff') format('woff'),
      url('/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono ExtBd Ita'), local('JetBrainsMono-ExtraBoldItalic'),
      url('/fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2'),
      url('/fonts/JetBrainsMono-ExtraBoldItalic.woff') format('woff'),
      url('/fonts/JetBrainsMono-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Medium Italic'), local('JetBrainsMono-MediumItalic'),
      url('/fonts/JetBrainsMono-MediumItalic.woff2') format('woff2'),
      url('/fonts/JetBrainsMono-MediumItalic.woff') format('woff'),
      url('/fonts/JetBrainsMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Bold Italic'), local('JetBrainsMono-BoldItalic'),
      url('/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2'),
      url('/fonts/JetBrainsMono-BoldItalic.woff') format('woff'),
      url('/fonts/JetBrainsMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Italic'), local('JetBrainsMono-Italic'),
      url('/fonts/JetBrainsMono-Italic.woff2') format('woff2'),
      url('/fonts/JetBrainsMono-Italic.woff') format('woff'),
      url('/fonts/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

