:root {
  --primary-color: #000;
  --secondary-color: #ffffff;
  --accent-color: #E17346;

  --main-font: 'JetBrains Mono', monospace;

  font-size: clamp(16px, 4vw, 18px);
}

:root.dark {
  --primary-color: #f4f4f4;
  --secondary-color: #131313;
}



h1 {
  font-size: clamp(1.75rem, 8vw, 3rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1.125rem, 3vw, 1.25rem);
  font-weight: 500;
}


@media (width < 768px) {
  :root {

  }
}

