:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #E17346;

  --main-font: 'JetBrains Mono', monospace;

  --h1-font-size: 74px;
  --text-font-size: 16px;
  --text-font-size__small: 14px;
}