*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--secondary-color);
  padding: 0;
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.5;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
}


img {
  inline-size: 100%;
  block-size: auto;
}

.button {
  background-color: #E17447;
  padding: 10px 32px;
  color: var(--secondary-color);
}

.container {
  padding-inline: 40px;
}

.section-title {
  position: relative;
  text-transform: uppercase;
  margin-block-end: 55px;
  inline-size: max-content;
  

  &::after {
    position: absolute;
    content: "";
    display: block;
    inline-size: 100%;
    block-size: 6px;
    inset-block-end: 0;
    background-color: #ECE584;
    z-index: -1;
  }
}

.visibility {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

@media (width < 768px) {
  .container {
    padding-inline: 20px;
  }
}